<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= post.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cover:</strong>
    <%= link_to post.cover.filename, post.cover if post.cover.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Audio:</strong>
    <%= link_to post.audio.filename, post.audio if post.audio.attached? %>
  </p>

</div>
